<%- include('partials/header') -%> 
<h1>Here is your dashboard <%= username %>!</h1>
<div>
    
    <% if (guilds.length > 0) { %>
        <% guilds.forEach(guild => { %>
            <%- include('partials/guild', {guild: guild}) -%>
            <% }) %>
            <% } %>

</div>
</body>
</html>
