<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Blockchain Adapter</title>
		<div class="connect-button">
			<form action="/">
				<button type="submit">The Blockchain Adapter</button>
			</form>
		</div>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body></body>
</html>
